<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Prediction Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body >
    <nav class="navbar">
        <div class="nav-logo">
            <img src='static\logo.jpg'>
            <span>Crypto Prediction Platform</span>
        </div>
        <div class="nav-links">
            <a href="/" class="nav-item">Home</a>
            <a href="/about" class="nav-item">About Us</a>
        </div>
    </nav>
    <div class="container">
        <h4>Abstract:</h4> 
        <p>Cryptocurrencies have become one of the most volatile asset classes within modern financial 
            markets, influenced both by technical and market sentiment. Price prediction accuracy and 
            sentiment analysis are crucial in facilitating informed decisions by investors, traders, and crypto 
            enthusiasts. This platform leverages advanced AI techniques, including machine learning models for 
            time-series forecasting and natural language processing for sentiment analysis, in delivering 
            actionable insights. The system integrates real-time market data, sentiment trends, and technical 
            indicators in order to create a comprehensive and interactive cryptocurrency analytics solution. </p>
             
            <h4>Overview:</h4> 
           <p> This platform aims to help you navigate the volatile crypto market with AI and . </p>
           <p> • Predicts Prices: Uses historical data and machine learning to forecast future price 
            movements for various cryptocurrencies. </p>
            <p>• Gauges Market Sentiment: Analyzes social media and news to understand how people feel 
            about specific cryptocurrencies. </p>
            <p>• Provides Trading Signals: Generates buy, sell, or hold recommendations based on market 
            data and sentiment. </p>
            <p>• Monitors Markets Live: Provides real-time price updates and alerts for important market 
            events. </p>
            <p>• Helps You Manage Your Portfolio: Analyzes your portfolio's risk and recommends 
            diversification strategies. </p>
            <p>• Offers a User-Friendly Dashboard: Presents data, predictions, and signals in an easy-to
            understand way.</p>
        </div>
    <div class="faq-section">
        <h2>About Us</h2>
    
        <div class="faq-item">
            <h3>Ridhiman Sabharwal</h3>
            <h4>22BCE3082</h4>
        </div>
    
        <div class="faq-item">
            <h3>Chirag</h3>
            <h4>22BCE0363</h4>
        </div>

        <div class="faq-item">
            <h3>Devesh Chahar</h3>
            <h4>22BCE3439</h4>
        </div>
    </div>
    
</body>
</html>
